.section_one
    .container
        .wrapper
            .block_canvas
                canvas.canvas
            .block_control
                .block_control_instruments
                    p instruments
                    .instruments_pen
                        i.fas.fa-pencil-alt
                    .instruments_brush
                        i.fas.fa-paint-brush
                    .instruments_spray
                        i.fas.fa-spray-can
                .block_control_size
                    p size
                    .size_big
                        span -
                    .size_value
                        span  1
                    .size_big
                        span +
                p.block_color color    
                input(type='color')
                .block_figure 
                    p figure 
                    i.far.fa-heart
                    i.far.fa-circle
                    i.far.fa-square
                .block_button
                    .btn_clean clean
                    
